.profileTabs {
    width: 320px;
    position: absolute; 
    top: 228px;
    left: 50%;
    transform: translate(-619px, 0%);
    display: flex;
    flex-direction: column;

}

.profileTab {
    height: 64px;
    display: flex;
    align-items: center;
}

.tabLink {
    text-decoration: none;
}