.ingredientDetailsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
}

.detailsParams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paramCenterAlign {
    text-align: center;
    min-width: 112px;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
    position: absolute;   
    top: 0;
}

.headerLeft {
    left: 0;
}

.pageContainer {
    width: 720px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}