.orders {
    display: flex;
    max-height: 212px;
}

.ordersContainer {
    width: 272px;
}

.ordersList {
    max-height: 161px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ordersReadyList {
    color: rgba(0, 204, 204, 1);
}

.statsGlow {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
